name: Go

env:
  R2V: 6.0.8

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "1.24"

    - name: Set up radare2
      run: |
        wget https://github.com/radareorg/radare2/releases/download/${{env.R2V}}/radare2_${{env.R2V}}_amd64.deb
        wget https://github.com/radareorg/radare2/releases/download/${{env.R2V}}/radare2-dev_${{env.R2V}}_amd64.deb
        sudo dpkg -i radare2_${{env.R2V}}_amd64.deb
        sudo dpkg -i radare2-dev_${{env.R2V}}_amd64.deb

    - name: Build
      run: go build -v .

    - name: Test
      run: go test -v .

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "1.24"

    - name: Set up radare2
      run: |
        wget https://github.com/radareorg/radare2/releases/download/${{env.R2V}}/radare2_${{env.R2V}}_amd64.deb
        wget https://github.com/radareorg/radare2/releases/download/${{env.R2V}}/radare2-dev_${{env.R2V}}_amd64.deb
        sudo dpkg -i radare2_${{env.R2V}}_amd64.deb
        sudo dpkg -i radare2-dev_${{env.R2V}}_amd64.deb

    - name: Set PKG_CONFIG_PATH
      run: echo "PKG_CONFIG_PATH=/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH" >> $GITHUB_ENV

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v4
      with:
        version: latest

    - name: go vet
      run: go vet ./...

  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "1.24"

    - name: Install radare2
      run: |
        brew install radare2

    - name: Set PKG_CONFIG_PATH
      run: echo "PKG_CONFIG_PATH=/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH" >> $GITHUB_ENV

    - name: Build
      run: go build -v .

    - name: Test
      run: go test -v .

  lint-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "1.24"

    - name: Install radare2
      run: |
        brew install radare2

    - name: Set PKG_CONFIG_PATH
      run: echo "PKG_CONFIG_PATH=/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH" >> $GITHUB_ENV

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest

    - name: go vet
      run: go vet ./...
